$color-black        : #232323;
$color-white        : #ffffff;
$color-gray         : #616161;
$color-line         : #efefef;
$color-red          : #df0d2d;

$box-shadow         : rgba(0, 0, 0, 0.15);

$breakpoint-mobile  : 480px;

